downloaded_tiktoks/*.mp4 filter=lfs diff=lfs merge=lfs -text
downloaded_tiktoks/\#perfectionism[[:space:]]\#peoplepleasing[[:space:]]\#laziness[[:space:]]\#productivity[[:space:]]\#selfworth[[:space:]]\#selfesteem[[:space:]]\#booktok[[:space:]]\#readinglist[[:space:]]\#therapy[[:space:]]\#trauma[[:space:]]\#burnout[[:space:]]\#lazy[[:space:]]\#stress[[:space:]]\#dissapointment[[:space:]].mp4 filter=lfs diff=lfs merge=lfs -text
downloaded_tiktoks/\#fhi[[:space:]]\#bostrom[[:space:]]\#Oxford[[:space:]]l\#simulation[[:space:]]\#transhumanism[[:space:]]\#Mars[[:space:]]\#Elon[[:space:]]The[[:space:]]Future[[:space:]]of[[:space:]]Humanity[[:space:]]Institute[[:space:]]has[[:space:]]been[[:space:]]shut[[:space:]]down.[[:space:]]Humanity[[:space:]]may[[:space:]]now[[:space:]]have[[:space:]]to[[:space:]]face[[:space:]]real[[:space:]]problems[[:space:]]that[[:space:]]can[[:space:]]be[[:space:]]worked[[:space:]]on[[:space:]]today..mp4 filter=lfs diff=lfs merge=lfs -text
downloaded_tiktoks/An[[:space:]]Ode[[:space:]]to[[:space:]]my[[:space:]]Tortured[[:space:]]Love[[:space:]]of[[:space:]]so-called[[:space:]]“Computer[[:space:]]Aided[[:space:]]Design”.[[:space:]]A[[:space:]]Manifesto.[[:space:]]\#design[[:space:]]\#3dprinting[[:space:]]\#blender3d[[:space:]]\#geometry.mp4 filter=lfs diff=lfs merge=lfs -text
downloaded_tiktoks/Check[[:space:]]out[[:space:]]this[[:space:]]totally[[:space:]]different[[:space:]]way[[:space:]]of[[:space:]]considering[[:space:]]how[[:space:]]good[[:space:]]AI[[:space:]]models[[:space:]]are...[[:space:]].mp4 filter=lfs diff=lfs merge=lfs -text
downloaded_tiktoks/Replying[[:space:]]to[[:space:]]@cldbrwszn[[:space:]][[:space:]]\#categorytheory[[:space:]]\#haskell[[:space:]].mp4 filter=lfs diff=lfs merge=lfs -text
